.page.theme_light {
  --accent-color: #ff8dcb;
  --text-main-color: #353430;
  --button-list-color: #353430;
  --button-list-hover-color: rgba(50, 49, 45, 0.40);
  --font-family: 'IBM Plex Mono', monospace;
  --text-line-height: line-height: 23.4px;
  --subtitle-color: #353430;
  --corner-color: #353430;
  --rec-element-color: transparent;
  --small-gap: 12px;
  --mid-gap: 23px;
  --text-font-size: 18px;
  --title-decor: #ff8dcb;
  --background-color: #fff1f7;
  --heading-text-color: #353430;
  --header-color: #ffc2e6;
  --footer-color: #ffc2e6;
  --unique-decoration-color: #353430;
  --shadow-color: #ff8dcb;
  
  background-image: url(../images/cover-image-light.png);
}

@media (width <= 1024px) {
  .theme_light.header__topic-name {
    --shadow-color: #ff8dcb;
  }

  .theme_light.footer__title {
    --shadow-color: #ff8dcb;
  }
}



@media (prefers-color-scheme: light) {
:root {
  --accent-color: #ff8dcb;
  --text-main-color: #353430;
  --button-list-color: #353430;
  --button-list-hover-color: rgba(50, 49, 45, 0.40);
  --font-family: 'IBM Plex Mono', monospace;
  --text-line-height: line-height: 23.4px;
  --subtitle-color: #353430;
  --corner-color: #353430;
  --rec-element-color: transparent;
  --small-gap: 12px;
  --mid-gap: 23px;
  --text-font-size: 18px;
  --title-decor: #ff8dcb;
  --background-color: #fff1f7;
  --header-color: #ffc2e6;
  --footer-color: #ffc2e6;
  --unique-decoration-color: #353430;
}

.page {
    background-image: url(../images/cover-image-light.png);
}

@media (width <= 1024px) {
  .theme_light.header__topic-name {
    --shadow-color: #ff0070;
  }

  .theme_light.footer__title {
    --shadow-color: #ff0070;
  }
}
}
